body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* estilo de cabecalho */
.cabecalho {
    width: 100%;
    background-color: white;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* imagem de logo */
.logo {
    width: 425px;
}

/* posição de texto MENU SOBRE CONTATO */
.botao-cabecalho {
    display: flex;
    align-items: center;
}

/* estilo de texto MENU SOBRE CONTATO */
.botao-cabecalho ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.botao-cabecalho ul li {
    margin-right: 20px;
}

/* Mudar cor ao passar cursor */
.botao-cabecalho ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.botao-cabecalho ul li a:hover {
    color: rgb(197, 146, 83);
}

/* linha horizontal de divisao */
.linha-divisao {
    width: 100%;
    background-color: #c59253;
    height: 10px;
}

.w3-code {
    margin-left: 6.5vw;
    border-left: 10px solid rgb(197, 146, 83);
    display: flex;
    flex-wrap: wrap;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.15s;
    margin-left: 0.1vw;
    width: 40vw;
    padding-bottom: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 2px 16px;
}

.sub-container {
    display: flex;
    align-items: center;
}

.fotoConvertida {
    width: 15vw;
    height: auto;
    margin: 3% 9%;
}

.botao-reserva {
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
    font-family: Arial;
    color: #ffffff;
    font-size: 13px;
    background-color: #c59253 !important;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
}

.botao-reserva:hover {
    cursor: pointer;
    background: #99652b;
    text-decoration: none;
}

/* rodapé */
footer {
    background-color: white;
    margin-top: 50px;
    text-align: center;
    padding: 20px;
}

/* imagem rodapé */
.img-rodape {
    display: block;
    height: 200px;
    margin: 0 auto;
}

/* texto rodapé */
.copy {
    font-size: 12px;
    color: #999;
    margin: 0;
    padding: 0;
}
